body {
  //background: rgb(190, 34, 211);
  background-image:url("https://data.comsa.io/user/b32ed69c-7a42-490d-83f1-3494875a69cc/asset/4dea6d31-3b1d-4f3f-b4a7-405b34c5014a.png");
}

h1 {
  color:rgb(161, 76, 194);
  font-size: 96px;
  text-align: right;
  margin-right: 80px;
}

h4 {
  color:rgb(161, 76, 194);
  font-size: 48px;
  text-align: right;
  margin-right: 80px;
}

.left {
  width: 800px;
}
.right {
  width: 100%;
}

.account-card {
  background: rgb(255, 255, 255,0.8);
  border-radius: 16px;
  margin: 16px;
  padding: 16px;
}

.sender-card {
  background: rgb(255, 255, 255,0.8);
  border-radius: 16px;
  margin: 16px;
  padding: 16px;
}

.tx-card {
  background: rgb(255, 255, 255,0.8);
  border-radius: 16px;
  padding: 32px;
  width: 1200px;
  margin: 16px;
}

.textfiled-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.textfiled {
  width: 400px;
}

#wallet-addr {
  font-size: 24px;
}

.container {
  font-size: 24px;
  margin: 16px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 80px;
}
